<article>
  <ul>
    <li>
      Место: {{ post.location }}       
    </li>
    <li>
      Дата: {{ post.date }}
    </li>
    <li>
      Категория: <a href="{% url 'blog:category_posts' post.category %}">{{ post.category }}</a>
    </li>
  </ul>         
  <p>
    {% if request.resolver_match.view_name == 'blog:post_detail' %}
      {{ post.text|linebreaksbr }}
    {% else %}
      {{ post.text|truncatewords:10 }}
      <a href="{% url 'blog:post_detail' post.id %}">Читать полный текст</a>
    {% endif %}
  </p>    
</article>
